 .u-section-1 {
  background-image: url("images/WhatsAppImage2024-01-07at11.41.23PM2.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 582px 0 37px 856px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 475px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 76px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 0;
  }
} .u-section-2 {
  background-image: linear-gradient(#404040, #292d33);
  min-height: 767px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 5px 0;
}

.u-section-2 .u-image-1 {
  min-height: 483px;
  background-image: url("images/Designing.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 284px;
  background-image: url("images/pexels-anamul-rezwan-1216544.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 284px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 254px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-3 {
  min-height: 254px;
  background-image: url("images/WhatsAppImage2024-01-08at1.16.5701PM.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  min-height: 513px;
  background-image: url("images/WhatsAppImage2024-01-07at11.24.56PM1.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 662px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 417px;
  }

  .u-section-2 .u-image-2 {
    min-height: 245px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 245px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 219px;
  }

  .u-section-2 .u-image-3 {
    min-height: 219px;
  }

  .u-section-2 .u-image-4 {
    min-height: 443px;
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 546px;
  }

  .u-section-2 .u-image-1 {
    min-height: 344px;
  }

  .u-section-2 .u-image-2 {
    min-height: 202px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 202px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 181px;
  }

  .u-section-2 .u-image-3 {
    min-height: 181px;
  }

  .u-section-2 .u-image-4 {
    min-height: 365px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1672px;
  }

  .u-section-2 .u-image-1 {
    min-height: 527px;
  }

  .u-section-2 .u-image-2 {
    min-height: 309px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-image-3 {
    min-height: 277px;
  }

  .u-section-2 .u-image-4 {
    min-height: 559px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1894px;
  }

  .u-section-2 .u-image-1 {
    min-height: 395px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 416px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 419px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1267px;
  }

  .u-section-2 .u-image-1 {
    min-height: 249px;
  }

  .u-section-2 .u-image-2 {
    min-height: 292px;
  }

  .u-section-2 .u-image-3 {
    min-height: 262px;
  }

  .u-section-2 .u-image-4 {
    min-height: 264px;
  }
} .u-section-3 {
  background-image: linear-gradient(#404040, #292d33);
  min-height: 897px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 438px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 79px 0 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/ddd-min.png");
  background-position: 98.35% 1.54%;
  min-height: 438px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 3px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 22.6667px) calc(33.3333% - 22.6667px) calc(33.3333% - 22.6667px);
  min-height: 453px;
  grid-gap: 34px 34px;
  grid-auto-columns: calc(33.3333% - 22.6667px);
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 1px;
}

.u-section-3 .u-icon-1 {
  width: 69px;
  height: 69px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 382px 0 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 30px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  line-height: 2;
  margin: 16px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 1px;
}

.u-section-3 .u-icon-2 {
  width: 69px;
  height: 69px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 382px 0 0;
}

.u-section-3 .u-text-4 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 30px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1rem;
  line-height: 2;
  margin: 16px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 0 1px;
}

.u-section-3 .u-icon-3 {
  width: 69px;
  height: 69px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 382px 0 0;
}

.u-section-3 .u-text-6 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 30px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1rem;
  line-height: 2;
  margin: 16px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 0 1px;
}

.u-section-3 .u-icon-4 {
  width: 69px;
  height: 69px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 382px 0 0;
}

.u-section-3 .u-text-8 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 30px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  line-height: 2;
  margin: 16px 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-3 .u-icon-5 {
  width: 69px;
  height: 69px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 382px 0 0;
}

.u-section-3 .u-text-10 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 30px 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 1rem;
  line-height: 2;
  margin: 16px 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 0 1px;
}

.u-section-3 .u-icon-6 {
  width: 69px;
  height: 69px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 382px 0 0;
}

.u-section-3 .u-text-12 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  font-weight: normal;
  margin: 0 30px 0 0;
}

.u-section-3 .u-text-13 {
  font-size: 1rem;
  line-height: 2;
  margin: 16px 0 0;
}

@media (max-width: 1399px) {
   .u-section-3 {
    min-height: 973px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-3 .u-image-1 {
    min-height: 378px;
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    background-size: 135%;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 595px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 322px;
    padding: 14px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 322px;
    padding: 14px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 322px;
    padding: 14px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 322px;
    padding: 14px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 322px;
    padding: 14px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 322px;
    padding: 14px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    font-size: 1.125rem;
  }
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 886px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 312px;
  }

  .u-section-3 .u-image-1 {
    min-height: 312px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 1px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 573px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 2px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 2px;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 255px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 813px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 239px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 760px;
    grid-template-columns: repeat(2, calc(50% - 17.000025px));
    grid-auto-columns: calc(50% - 17.000025px);
  }

  .u-section-3 .u-icon-1 {
    margin-right: 195px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 195px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 195px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 195px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 195px;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 195px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1033px;
  }

  .u-section-3 .u-image-1 {
    min-height: 347px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-icon-1 {
    margin-right: 146px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 146px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 146px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 146px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 146px;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 146px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 900px;
  }

  .u-section-3 .u-image-1 {
    min-height: 218px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 92px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 92px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 92px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 92px;
  }

  .u-section-3 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 92px;
  }

  .u-section-3 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 92px;
  }

  .u-section-3 .u-text-12 {
    font-size: 1.5rem;
  }
} .u-section-4 {
  background-image: url("images/Construction1.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 523px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 76px auto 60px 166px;
}

@media (max-width: 1399px) {
  .u-section-4 .u-sheet-1 {
    min-height: 416px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 348px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 105px;
  }
}@font-face {
  font-family: 'calibril';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibril.ttf);
}


@media (min-width: 769px) {
  .d-lg-screen {
    display: block;
  }
}

/* Hide the div on screens 769px and smaller */
@media (max-width: 768px) {
  .d-lg-screen {
    display: none;
  }
}

/* Show another div on screens 768px and smaller */
@media (max-width: 768px) {
  .d-sm-screen {
    display: block;
  }
}

/* Hide the other div on screens larger than 769px */
@media (min-width: 769px) {
  .d-sm-screen {
    display: none;
  }
}
