 .u-section-1 {
  background-image: url("images/pexels-skitterphoto-245634.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 637px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 302px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 557px;
  }
} .u-section-2 {
  background-image: linear-gradient(#404040, #292d33);
  min-height: 740px;
}

.u-section-2 .u-text-1 {
  margin: 3px auto 0 calc(((100% - 1320px) / 2) + 502px);
}

.u-section-2 .u-layout-wrap-1 {
  margin: 7px 0 3px;
}

.u-section-2 .u-image-1 {
  min-height: 273px;
  background-image: url("images/money-2724245_12807.jpg");
  background-position: 86.56% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 273px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 273px;
  background-image: url("images/pexels-alena-darmel-7641842.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 307px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-5 {
  margin: 9px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  padding: 0;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 354px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-7 {
  margin: 23px 0 0;
}

.u-section-2 .u-image-3 {
  min-height: 273px;
  background-image: url("images/Planing1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-7 {
  min-height: 354px;
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-9 {
  margin: 23px 0 0;
}

.u-section-2 .u-image-4 {
  min-height: 273px;
  background-image: url("images/travel-2650303_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 709px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 219px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-2 .u-image-2 {
    min-height: 219px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 246px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 219px;
  }

  .u-section-2 .u-image-3 {
    min-height: 219px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 219px;
  }

  .u-section-2 .u-image-4 {
    min-height: 219px;
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 622px;
  }

  .u-section-2 .u-image-1 {
    min-height: 181px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 181px;
  }

  .u-section-2 .u-image-2 {
    min-height: 181px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 203px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 181px;
  }

  .u-section-2 .u-image-3 {
    min-height: 181px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 181px;
  }

  .u-section-2 .u-image-4 {
    min-height: 181px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 506px;
  }

  .u-section-2 .u-image-1 {
    min-height: 139px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-2 {
    min-height: 139px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-3 {
    min-height: 139px;
  }

  .u-section-2 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-image-4 {
    min-height: 139px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 2196px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1320px) / 2) + 534px);
  }

  .u-section-2 .u-image-1 {
    min-height: 417px;
  }

  .u-section-2 .u-image-2 {
    min-height: 417px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-5 {
    order: 1;
  }

  .u-section-2 .u-image-3 {
    order: 0;
    min-height: 417px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-7 {
    order: 3;
  }

  .u-section-2 .u-image-4 {
    order: 2;
    min-height: 417px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1532px;
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 1320px) / 2) + 565px);
  }

  .u-section-2 .u-image-1 {
    min-height: 263px;
  }

  .u-section-2 .u-image-2 {
    min-height: 263px;
  }

  .u-section-2 .u-image-3 {
    min-height: 263px;
  }

  .u-section-2 .u-image-4 {
    min-height: 263px;
  }
}@font-face {
  font-family: 'calibril';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibril.ttf);
}



@media (min-width: 769px) {
  .d-lg-screen {
    display: block;
  }
}

/* Hide the div on screens 769px and smaller */
@media (max-width: 768px) {
  .d-lg-screen {
    display: none;
  }
}

/* Show another div on screens 768px and smaller */
@media (max-width: 768px) {
  .d-sm-screen {
    display: block;
  }
}

/* Hide the other div on screens larger than 769px */
@media (min-width: 769px) {
  .d-sm-screen {
    display: none;
  }
}
