 .u-section-1 {
  background-image: linear-gradient(#292d33, #4d4d4d);
  min-height: 819px;
}

.u-section-1 .u-shape-1 {
  height: 439px;
  background-image: linear-gradient(#4d4d4d, #292d33);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 810px;
  height: auto;
  background-image: none;
  min-height: 732px;
  margin: -383px calc(((100% - 1320px) / 2) + 101px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 525px;
  min-height: 608px;
  height: auto;
  background-image: none;
  margin: 64px auto 0 210px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 5px 30px 15px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Abril Fatface";
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 2;
  margin: 15px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 656px;
  object-position: 72.43% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  margin: -628px auto 3px calc(((100% - 1320px) / 2) + 90px);
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 1140px) / 2) + 101px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-right: calc(((100% - 1140px) / 2) + 45px);
    height: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 90px);
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: calc(((100% - 940px) / 2) + 101px);
  }

  .u-section-1 .u-group-2 {
    width: 425px;
    min-height: 507px;
    margin-top: -645px;
    margin-right: calc(((100% - 940px) / 2) + 18px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2) + 90px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 556px;
    min-height: 537px;
    margin-top: 0;
    margin-right: calc(((100% - 720px) / 2) + 17px);
    margin-left: 135px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-right: 5px;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 720px) / 2) + 90px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 784px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 621px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 554px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 50px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 391px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  min-height: 772px;
}

.u-section-2 .u-layout-wrap-1 {
  width: calc(((100% - 1320px) / 2) + 1320px);
  margin: 0 0 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 772px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-family: "Abril Fatface";
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 62px 4px 0;
}

.u-section-2 .u-image-1 {
  min-height: 772px;
  background-image: url("images/pexels-volker-thimm-19680649.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-family: "Abril Fatface";
  margin: 30px 0 0;
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 415px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 1140px) / 2) + 1140px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 667px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 667px;
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 342px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 550px;
  }

  .u-section-2 .u-image-1 {
    min-height: 550px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 262px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 421px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 786px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-2 .u-image-1 {
    min-height: 632px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 494px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-2 .u-image-1 {
    min-height: 398px;
  }
}@font-face {
  font-family: 'calibril';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/calibril.ttf);
}